<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iassist-msteams" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\teams-iassist\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <!-- <httpRuntime executionTimeout="180" /> -->
    </system.webServer>
</configuration>
